.profile-bg {
  min-height: 100vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1661775756810-82dbd209fc95?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d3JpdGluZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
}

.profile-card {
  width: 900px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* LEFT */
.profile-left {
  width: 35%;
  padding: 30px;
  text-align: center;
  background: #f9fbff;
}

.image-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #dbe7ff;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-upload {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 13px;
  padding: 6px;
  cursor: pointer;
}

.profile-left h3 {
  margin-top: 15px;
}

.profile-left p {
  color: gray;
  font-size: 14px;
}

.profile-left input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.profile-left button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #0d6efd;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* RIGHT */
.profile-right {
  width: 65%;
  padding: 30px;
}

.task-card {
  background: #f1f5ff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.empty {
  color: gray;
  margin-top: 20px;
}
